# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# Test results
TestResults/
*.trx

# NuGet
packages/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/Psychologist.API/appsettings.json
